/* versões
v0.1.0	1k.css
v0.2.0	form básico
v0.2.1	text-center
*/

@import 'inc/vars.less';
@import 'inc/1k.less';

body{
	color:		@corDoTexto;
	font-family:	@fonteDoTexto;
}
button,label{
	cursor:		pointer;
}
form.vertical{
	text-align:	center;
}
form.vertical input[type=email],
form.vertical input[type=text],
form.vertical label,
form.vertical textarea{
	display:	block;
	margin-bottom:	0.25em;
	width: 		100%;
}
.text-center{
	text-align: 	center;
}