/* versões
v0.1.0	1k.css
v0.2.0	form básico
v0.2.1	text-center
v0.3.0	cor dos links
v0.3.1	h1 sem underline
*/

@import 'inc/vars.less';
@import 'inc/1k.less';

a{
	color:		@preto;
}
a:hover{
	color:		@azul;
}
body{
	color:		@preto;
	font-family:	@fonteDoTexto;
}
button,label{
	cursor:		pointer;
}
form.vertical{
	text-align:	center;
}
form.vertical input[type=email],
form.vertical input[type=text],
form.vertical label,
form.vertical textarea{
	display:	block;
	margin-bottom:	0.25em;
	width: 		100%;
}
h1 a{
	text-decoration: none;
}
h1 a:hover{
	color:black;
	text-decoration: underline;
}
.text-center{
	text-align: 	center;
}
.text-right{
	text-align: 	right;
}
.wrap{
	white-space:pre-wrap;       /* Since CSS 2.1 */
	word-wrap:break-word;       /* Internet Explorer 5.5+ */
}