<div class="container">
	<div class="row">
		<div class="col3"></div>
		<div class="col6">
			<h1 class="text-center">{{SITE_NAME}}</h1>
			<form action="{{SITE_URL}}/messages" class="vertical" method="post">
				<label for="message">Mensagem:</label>
				<textarea name="message" id="message" maxlength="128" minlength="1" required></textarea>
				<button type="submit">Enviar</button>
			</form>
			<b>Mensagens:</b>
			<hr>
			{{#messages}}
			<div class="wrap">{{message}}</div>
			<p class="text-right">
				<small>
					<a href="{{SITE_URL}}/messages/{{id}}">
						{{created_at_h}}
					</a>
				</small>
			</p>
			<hr>
			{{/messages}}
		</div>
	</div>
</div>